@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #FEFAF5;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}
@font-face {
  font-family: "ABCArizonaMix";
  src: url("/fonts/ABCArizonaMix-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CullenGinto-Nord";
  src: url("/fonts/CullenGinto-NordRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CullenGintoNormal";
  src: url("/fonts/CullenGintoNormal-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CullenGintoNormal";
  src: url("/fonts/CullenGintoNormal-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg{
  background: #253E2B;
}
.btn{
  background-color: #236339;
}
.cream{
  background-color: #FEFAF5;
}
/* Hide scrollbar for all elements */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

  .dropdown-enter {
    opacity: 0;
    transform: translateY(-10px);
  }
  
  .dropdown-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms ease-out, transform 300ms ease-out;
  }
  
  .dropdown-exit {
    opacity: 1;
    transform: translateY(0);
  }
  
  .dropdown-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 200ms ease-in, transform 200ms ease-in;
  }